<header>
  <h1></h1>
  <nav>
    <%= link_to "products", products_path %>
    <%= link_to "cart", cart_show_path %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
  </nav>
</header>
